<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chỉnh sửa sản phẩm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <div class="site-wrap">
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Name</th>
                                        <th class="product-price">Size</th>
                                        <th class="product-total">Detail</th>
                                        <th class="product-remove">Price</th>
                                        <th class="product-price">Remove</th>
                                        <th class="product-edit">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < products.length; i++) { %>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="<%= products[i].image1 %>" alt="Image" class="img-fluid">
                                        </td>
                                        <td><%= products[i].name %></td>
                                        <td><%= products[i].size %></td>
                                        <td><%= products[i].detail %></td>
                                        <td><%= products[i].price %></td>
                                        <td><a href="/admin/edit/<%= products[i]._id %>" class="btn btn-primary btn-sm">X</a></td>
                                        <td><a href="/admin/findUpdate/<%= products[i]._id %>" class="btn btn-primary btn-sm">Edit</a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-primary"><a href="/admin" style="color: white; text-decoration: none;">Về trang chính</a></button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/aos.js"></script>

    <script src="../js/main.js"></script>

</body>

</html>