<% include ../layouts/header.ejs %>

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-9 order-2">

                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="float-md-left mb-4">
                            <h2 class="text-black h5">Shop All</h2>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <% for (var i = 0; i < Products.length; i++) { %>
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/detail/<%= Products[i]._id %>"><img src="<%= Products[i].image1 %>" alt="Image placeholder"
                                        class="img-fluid"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/detail/<%= Products[i]._id %>"><%= Products[i].name %></a></h3>
                                <p class="text-primary font-weight-bold"><%= Products[i].price %> VND</p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class=" p-4 rounded mb-4">

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layouts/footer.ejs %>